option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: client/build/static
