files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 8080;

        if ($http_x_forwarded_proto = 'http') {
          return 301 https://$host$request_uri;
        }

        location / {
          proxy_pass http://127.0.0.1:8081;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
        }
      }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
